services:
  # 1. Laravel App (Backend)
  app:
    image: mcoder902/rezvan-backend:latest
    container_name: rezvan_app
    restart: always
    env_file:
      - .env
    environment:
      APP_ENV: production
    volumes:
      # فقط پوشه استوریج رو نگه میداریم که اگر آپلود عکس داشتی پاک نشه
      - ./backend_storage:/var/www/storage
    networks:
      - rezvan-network
      - shared-network # اتصال به شبکه هوش مصنوعی
    depends_on:
      - db
      - redis
    build:
      context: ./back_end
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # 2. Apache + Frontend (Gateway)
  webserver:
    image: mcoder902/rezvaen-webserver:latest # نام ایمیجی که خودت ساختی
    container_name: rezvan_apache
    restart: always
    ports:
      - "8085:80"
    volumes:
      - ./backend_storage:/var/www/storage
      - ./back_end/public/vendor:/usr/local/apache2/htdocs/vendor
    env_file:
      - .env
    networks:
      - rezvan-network
      - shared-network
    depends_on:
      - app
    build:
      context: .
      dockerfile: Dockerfile.webserver
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # 3. Database (MySQL)
  db:
    image: mysql:8.0
    container_name: rezvan_db
    restart: always
    environment:
      MYSQL_DATABASE: rezvan_payesh
      MYSQL_USER: payesh_user
      MYSQL_PASSWORD: ${DB_PASSWORD} # از فایل .env میخونه
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql # این یعنی داده‌ها امن هستن و با حذف کانتینر پاک نمیشن
    networks:
      - rezvan-network

  # 4. Redis
  redis:
    image: redis:alpine
    container_name: rezvan_redis
    restart: always
    command: redis-server --requirepass "${REDIS_PASSWORD}"
    volumes:
      - redis_data:/data
    networks:
      - rezvan-network
      - shared-network

  # 5. Soketi (Optional)
  soketi:
    build:
      context: ./soketi
      dockerfile: Dockerfile
    container_name: rezvan_soketi
    restart: always
    environment:
      SOKETI_DEBUG: '1'
      SOKETI_DEFAULT_APP_ID: rezvan_payesh_docker
      SOKETI_DEFAULT_APP_KEY: ${PUSHER_APP_KEY}
      SOKETI_DEFAULT_APP_SECRET: ${PUSHER_APP_SECRET}
    ports:
      - "6002:6001"
    networks:
      - rezvan-network

  phpmyadmin:
      image: phpmyadmin/phpmyadmin
      container_name: rezvan_pma
      restart: always
      environment:
        PMA_HOST: db             # نام سرویس دیتابیس در داکر کامپوز
        PMA_PORT: 3306
        PMA_USER: payesh_user    # نام کاربری دیتابیس
        PMA_PASSWORD: ${DB_PASSWORD} # پسورد از فایل .env خوانده می‌شود
      ports:
        - "8081:80"              # پورت دسترسی در مرورگر
      networks:
        - rezvan-network
      depends_on:
        - db
volumes:
  db_data: # والیوم دیتابیس
  redis_data:

networks:
  rezvan-network:
    driver: bridge
  shared-network: # شبکه‌ای که قبلا ساختی
    external: true