/* src/style/fonts.css */

/* تعریف فونت برای وزن نرمال (Regular) */
@font-face {
  /* نام خانواده برای هر دو وزن یکسان است */
  font-family: 'Vazirmatn';
  src: url('../fonts/Vazirmatn-Regular.woff2') format('woff2');

  /* وزن دقیق این فایل را مشخص می‌کنیم: 400 برای نرمال */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* تعریف فونت برای وزن ضخیم (Bold) */
@font-face {
  /* نام خانواده برای هر دو وزن یکسان است */
  font-family: 'Vazirmatn';
  src: url('../fonts/Vazirmatn-Bold.woff2') format('woff2');
  
  /* وزن دقیق این فایل را مشخص می‌کنیم: 700 برای ضخیم */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}